@charset "UTF-8";
/* VARIABLES */
/* VARIABLES */
/* MAPS */
/* EXTENDS */
@import url(../misc/_variables.scss);
@import url(../misc/_normalize.scss);
.fotografía h2, .video h2, .edicion-de-video h2 {
  font-size: 3em;
  font-weight: bold;
  color: #971717;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding: 0rem;
  margin: 1rem auto 0rem auto;
  max-width: 100%; }

.texto, .texto2, .texto3 {
  color: beige;
  font-size: 2em;
  padding: 0rem;
  margin: 0rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: justify; }

/* GLOBALES */
/* IMPORTS */
/* NORMALIZE */
*,
*::after *::before * {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

/* GLOBALES */
html {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif; }

body {
  background-image: linear-gradient(to bottom, #000000, #050505, #090909, #0d0d0d, #111111, #141414, #171717, #191919, #1c1c1c, #1e1e1e, #212121, #242424);
  overflow-x: hidden; }

/*HELPERS*/
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.container {
  max-width: 1500px;
  margin: 0rem auto;
  padding: 0rem auto; }

/* PARTIALS */
/* ESTILOS HEADER Y NAVBAR*/
/* HEADER INDEX*/
.container__header {
  padding: 0rem auto;
  margin: 0rem auto;
  width: 1500px;
  max-width: 100%; }
  .container__header--index {
    padding: 0rem auto;
    margin: 0rem auto;
    margin-bottom: 0rem;
    text-align: center;
    max-width: 100%;
    background-image: url(../../assets/images/header.svg); }
  .container__header--img {
    padding-top: 2rem;
    margin-top: 2rem;
    margin: 2rem auto;
    width: 10rem;
    height: 10rem;
    align-items: center;
    margin: 1rem auto; }
  .container__header--título {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #971717;
    margin: 0rem auto;
    padding: 0rem;
    animation-duration: 3s;
    animation-name: backInLeft;
    animation-iteration-count: infinite; }
    .container__header--título--span {
      color: lightslategray;
      font-size: 0.5em; }

/* HEADER SECCIONES*/
.container__header {
  grid-area: header;
  padding: 0rem auto;
  margin: 0rem auto; }
  .container__header--secciones {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    max-width: 100%;
    background-image: url(../../assets/images/header.svg); }
  .container__header--título {
    font-size: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #971717;
    animation-duration: 3s;
    animation-name: backInLeft;
    animation-iteration-count: infinite; }
    .container__header--título--span {
      color: lightslategray;
      font-size: 0.5em;
      font-weight: bold; }

/* NAVBAR GENERAL*/
.navbar {
  margin: 0rem auto;
  padding: 0rem 3rem;
  background-color: #111111;
  margin: 0rem;
  flex-wrap: wrap; }

.menu {
  border-top: 0.1rem solid #fff;
  border-bottom: 0.1rem solid #fff;
  display: flex;
  justify-content: space-around;
  padding: 0rem;
  flex-wrap: wrap; }
  .menu__item {
    list-style-type: none; }
  .menu__link {
    padding: 1rem;
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    font-size: 2em;
    text-align: justify;
    flex-wrap: wrap; }
    .menu__link:hover {
      background: #971717;
      color: #ffffff;
      padding-left: 1rem; }

/* ESTILOS FOOTER*/
.container__footer {
  grid-area: footer;
  padding: 0rem;
  margin: 0rem auto;
  background-image: url(../../assets/images/header.svg);
  justify-content: space-evenly;
  align-items: center;
  width: 1500px;
  max-width: 100%;
  max-height: 100vh; }
  .container__footer .contenido__footer {
    max-width: 100%;
    margin: 0rem auto;
    padding: 2rem 0rem;
    justify-content: space-evenly;
    align-items: center;
    width: 1500px;
    max-width: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: row; }
    .container__footer .contenido__footer--lista {
      margin: auto 2rem;
      padding: 1rem;
      align-content: center;
      text-align: center; }
      .container__footer .contenido__footer--lista .datos {
        color: #971717;
        font-size: 2em;
        list-style: none;
        text-align: justify; }
        .container__footer .contenido__footer--lista .datos .span__foot {
          font-weight: bold; }
      .container__footer .contenido__footer--lista .iconos {
        justify-content: space-evenly;
        margin: auto 2rem;
        padding: auto 3rem;
        flex-wrap: wrap; }
        .container__footer .contenido__footer--lista .iconos__link {
          justify-content: space-around;
          flex-wrap: wrap;
          display: inline-block; }

/* VIEWS */
/* INDEX */
.container__secciones {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%; }
  .container__secciones .título__sección {
    color: #971717;
    font-size: 5em;
    font-style: italic;
    margin: 0rem;
    text-align: center;
    width: 100%; }
    .container__secciones .título__sección__descrip {
      font-size: 1.5em;
      padding: 1rem;
      margin: 0rem;
      width: 100%;
      color: aliceblue; }

.picture__index {
  max-width: 150rem;
  height: 65vh;
  max-width: 100%;
  margin: 0rem auto;
  padding: 0rem auto;
  align-items: center; }

/* SOBRE MI */
.container__secciones {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  width: 100%;
  background-image: url(../../assets/images/header.svg); }
  .container__secciones .título__sección--sm {
    color: #971717;
    font-size: 5em;
    font-style: italic;
    margin: 0rem auto;
    padding: 0rem auto;
    text-align: center;
    width: 100%; }
  .container__secciones .título__sección--descrip {
    max-width: 95%;
    font-size: 2em;
    color: aliceblue;
    padding: 1rem 2rem;
    margin: 0rem 2rem;
    text-align: justify;
    display: flex;
    justify-content: center; }

.foto__sección {
  margin: 1rem auto;
  justify-content: center;
  width: 150rem; }
  .foto__sección__sobremí {
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    padding: 0rem; }

/* SERVICIOS */
.container__secciones {
  width: 1500px;
  width: 100%;
  background-image: url(../../assets/images/header.svg); }
  .container__secciones .título__sección--sm {
    color: #971717;
    font-size: 5em;
    font-style: italic;
    margin: 0rem auto;
    padding: 0rem auto;
    text-align: center;
    width: 100%; }
  .container__secciones .título__sección--descrip {
    max-width: 95%;
    font-size: 2em;
    color: aliceblue;
    padding: 1rem 2rem;
    margin: 0rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center; }

.contenedor__servicios {
  width: 1500px;
  max-width: 100%;
  margin: 0rem auto;
  padding: 0rem auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "fotografía fotografía"  "foto texto"  "video video"  "texto2 video2"  "edicion-de-video edicion-de-video"  "video3 texto3"; }

.fotografía {
  grid-area: fotografía; }

.video {
  grid-area: video; }

.edicion-de-video {
  grid-area: edicion-de-video; }

.texto {
  grid-area: texto1; }

.texto2 {
  grid-area: texto2; }

.texto3 {
  grid-area: texto3; }

.img-sec {
  grid-area: foto;
  padding: 0rem;
  display: flex;
  margin: auto 0rem;
  width: 100%; }

.video1 {
  padding: 0rem;
  display: flex;
  margin: auto 0rem;
  width: 100%;
  grid-area: video1;
  max-width: 100%; }

.video3 {
  display: flex;
  margin: auto 0rem;
  padding: 0rem;
  width: 100%;
  grid-area: video3;
  max-width: 100%; }

.foto {
  grid-area: foto;
  padding: 0;
  max-width: 100%; }

.texto {
  grid-area: texto;
  text-align: justify;
  max-width: 100%; }

.video2 {
  max-width: 100%;
  grid-area: video2;
  display: flex;
  align-items: flex-end; }

@media only screen and (max-width: 748px) {
  .contenedor__servicios {
    gap: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "fotografía" "texto"  "foto"  "video"  "texto2"  "video2"  "edicion-de-video"  "texto3" "video3"; }
  .fotografía {
    max-width: 100%; }
  .foto {
    max-width: 100%; }
  .fotografía, .video, .edicion-de-video {
    padding: 0rem;
    margin: 0rem;
    max-width: 100%; }
  .texto p, .texto2 p, .texto3 p {
    font-size: 1em;
    padding: 0rem;
    margin: 1rem auto;
    max-width: 100%; } }

.container__secciones {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%; }
  .container__secciones .título__sección--sm {
    color: #971717;
    font-size: 5em;
    font-style: italic;
    margin: 0rem auto;
    padding: 0rem auto;
    text-align: center;
    width: 100%; }
  .container__secciones .título__sección--descrip {
    max-width: 95%;
    font-size: 2em;
    color: aliceblue;
    padding: 1rem 2rem;
    margin: 0rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center; }

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 1rem; }
  .portfolio__container .galería__item {
    width: auto;
    height: auto; }
    .portfolio__container .galería__item .galería__img {
      width: 100%;
      height: auto; }
    .portfolio__container .galería__item .galería__video {
      width: 100%;
      height: auto; }

/* CONTACTO */
.container__secciones {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%; }
  .container__secciones .título__sección--sm {
    color: #971717;
    font-size: 5em;
    font-style: italic;
    margin: 0rem auto;
    padding: 0rem auto;
    text-align: center;
    width: 100%; }
  .container__secciones .título__sección--descrip {
    max-width: 95%;
    font-size: 2em;
    color: aliceblue;
    padding: 1rem 2rem;
    margin: 0rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center; }

.contact_form {
  width: 100%;
  max-width: 35rem;
  height: auto;
  margin: 1rem auto 4rem auto;
  border-radius: 1rem;
  padding: 1rem auto;
  background-color: #fbfbfb;
  padding-left: 1rem;
  padding-top: 1rem; }

input {
  background-color: #fbfbfb;
  width: 33rem;
  max-width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #971717;
  margin: 1rem auto;
  padding-left: 1rem; }

textarea {
  background-color: #fbfbfb;
  width: 100%;
  max-width: 33rem;
  height: 15rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #971717;
  margin: 1rem auto;
  padding-left: 1rem;
  padding-top: 1.5rem; }

label {
  display: block;
  float: center;
  font-size: 1.5em;
  color: #971717; }

button {
  width: 100%;
  max-width: 33rem;
  height: 4.5rem;
  padding: auto 0.5rem;
  margin: 1rem 0.5rem;
  text-transform: uppercase;
  background-color: #971717;
  border-color: #971717;
  border-style: solid;
  border-radius: 1rem;
  cursor: pointer; }

span {
  color: #971717; }

.aviso {
  font-size: 1.5em;
  color: #0e0e0e;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #971717; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #971717; }
