/* ESTILOS HEADER Y NAVBAR*/

/* HEADER INDEX*/
.container__header {
    padding: 0rem auto;
    margin: 0rem auto;
    width: 1500px;
    max-width: 100%;
    &--index {
        padding: 0rem auto;
        margin: 0rem auto;
        margin-bottom: 0rem;
        text-align: center;
        max-width: 100%;
        background-image: url(../../assets/images/header.svg);
        }
    &--img {
        padding-top: 2rem;
        margin-top: 2rem;
        margin: 2rem auto;
        max-width: 10rem;
        align-items: center;
        margin: 1rem auto;
        }
    &--título {
        font-size: 4em;
        font-family: 'Roboto Condensed', sans-serif;
        color: #971717;
        margin: 0rem auto;
        padding: 0rem;
        animation-duration: 3s;
        animation-name: backInLeft;
        animation-iteration-count: infinite;
        &--span {
        color: lightslategray;
        font-size: 0.5em; 
        }
    }        
}
  /* HEADER SECCIONES*/
.container__header {
    grid-area: header;
    padding: 0rem auto;
    margin: 0rem auto;
    &--secciones {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    max-width: 100%;
    background-image: url(../../assets/images/header.svg);
    }
    &--título {
            font-size: 4em;
            font-family: 'Roboto Condensed', sans-serif;
            color: #971717;
            animation-duration: 3s;
            animation-name: backInLeft;
            animation-iteration-count: infinite;
            &--span {
            color: lightslategray;
            font-size: 0.5em;
            font-weight:bold;  
        }
    }
}
  /* NAVBAR GENERAL*/
.navbar {
    margin: 0rem auto;
    padding: 0rem 3rem;
    background-color: #111111;
    margin: 0rem;
    flex-wrap: wrap; 
  }
.menu {
    border-top: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #fff;
    display: flex;
    justify-content: space-around;
    padding: 0rem;
    flex-wrap: wrap;
    &__item {
    list-style-type: none;
    }
    &__link {
    padding: 1rem;
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2em;
    flex-wrap: wrap; 
        &:hover {
            background: #971717;
            color: #ffffff; 
        }
    }
}
  
  
  
  
  
  