/* CONTACTO */
.container__secciones {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    .título__sección {
        &--sm {        
        color: #971717;
        font-size: 5em;
        font-style: italic;
        margin: 0rem auto;
        padding: 0rem auto;
        text-align: center;
        width: 100%;
        }
    &--descrip {
            max-width: 95%;
            font-size: 2em;
            color: aliceblue;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}

.contact_form{  
    width: 100%; 
    max-width: 35rem;
    height: auto;
    margin: 1rem auto 4rem auto;
    border-radius: 1rem;  
    padding: 1rem auto;
    background-color: #fbfbfb; 
    padding-left: 1rem; 
    padding-top: 1rem;
}
  
input{
    background-color: #fbfbfb; 
    width: 33rem; 
    max-width: 100%;
    height: 4rem; 
    border-radius: 0.5rem;  
    border-style: solid; 
    border-width: 0.1rem; 
    border-color: #971717; 
    margin: 1rem auto;  
    padding-left: 1rem; 
}

textarea{
    background-color: #fbfbfb; 
    width: 100%;
    max-width: 33rem; 
    height: 15rem; 
    border-radius: 0.5rem;  
    border-style: solid; 
    border-width: 0.1rem; 
    border-color: #971717; 
    margin: 1rem auto;  
    padding-left: 1rem; 
    padding-top: 1.5rem; 
}


label{
    display: block; 
    float: center;
    font-size: 1.5em; 
    color: #971717; 
}


.button__submit{
    width: 100%; 
    max-width: 33rem;  
    height: 4.5rem; 
    padding: auto 0.5rem;  
    margin: 1rem 0.5rem;   
    text-transform: uppercase;
    background-color: #971717; 
    border-color: #971717; 
    border-style: solid; 
    border-radius: 1rem;  
    cursor: pointer;
}

span{
    color: #971717; 
}
  
  
.aviso{
    font-size: 1.5em;  
    color: #0e0e0e; 
    text-align: center; 
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus{
    outline:0;
    border: 1px solid #971717;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid #971717;
}
  