/* INDEX */
.container__secciones {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    .título__sección {
        color: #971717;
        font-size: 5em;
        font-style: italic;
        margin: 0rem;
        text-align: center;
        width: 100%;
        &__descrip {
            font-size: 1.5em;
            padding: 1rem;
            margin: 0rem;
            width: 100%;
            color: aliceblue;
        }
    }
}
.picture__index {
    max-width: 150rem;
    height: 65vh;
    max-height: auto;
    width: 100%;
    margin: 0rem auto 1rem auto;
    padding: 0rem auto;
    align-items: center;
    border-radius: 1rem;
    &:hover {
        -webkit-transform:scale(0.99);transform:scale(0.99);
        transition:all .5s ease-in-out;
    }
}





