.container__secciones {
    margin: 0 auto 1rem auto;
    padding: 0;
    text-align: center;
    width: 100%;
    .título__sección {
        &--sm {        
        color: #971717;
        font-size: 5em;
        font-style: italic;
        margin: 0rem auto;
        padding: 0rem auto;
        text-align: center;
        width: 100%;
        }
    &--descrip {
            max-width: 95%;
            font-size: 2em;
            color: aliceblue;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}

.grid__portfolio {
	display: grid;
    margin-top: 1rem;
	justify-content: space-around;
	grid-template-columns: repeat (3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1%;
	grid-auto-flow: row;
	grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
}
.item {
    &:hover {
        -webkit-transform:scale(0.99);transform:scale(0.99);
        filter: opacity(.5);
        transition:all .5s ease-in-out;
    }
    &galería__video {
        &--vid2 {
            grid-area: item2;
        }
        &--vid4 {
            grid-area: item4;
        }
        &--vid6 {
            grid-area: item6;
        }
        &--vid8 {
            grid-area: item8;
        }
    }
    &galería__img {
        border-radius: 1rem;
        &galería__img {
            max-width: 100%;
            max-height: 100%;
            &--img1 {
                grid-area: item1;
            }
            &--img3 {
                grid-area: item3;
            }
            &--img5 {
                grid-area: item5;
            }
            &--img7 {
                grid-area: item7;
            }
            &--img9 {
                grid-area: item9;
            }
        }

    }
}

@media only screen and (max-width:600px) {
	.header {
		max-width: 600px;
	}
	.grid__portfolio {
		flex-wrap: wrap;
		width: 600px;
		max-width: 100%;
		margin: 0rem auto;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9,auto);
		grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9",
	}
}


@media only screen and (min-width:600px) and (max-width:1024px) {
	.grid__portfolio {
		flex-wrap: wrap;
		width: 1024px;
		max-width: 100%;
		margin: 0rem auto;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5,auto);
		grid-template-areas: 
            "item1   item2"
            "item3   item4"
            "item5   item6"
            "item7   item8"
            "item9   item9",
	}
}