.container__secciones {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    .título__sección {
        &--sm {        
        color: #971717;
        font-size: 5em;
        font-style: italic;
        margin: 0rem auto;
        padding: 0rem auto;
        text-align: center;
        width: 100%;
        }
    &--descrip {
            max-width: 95%;
            font-size: 2em;
            color: aliceblue;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}

.grid__portfolio {
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat (3, 1fr);
	grid-template-rows: repeat(4, 0.5fr);
	gap: 1% 1%;
	grid-auto-flow: row;
	grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
}
.foto1 {
	grid-area: foto1;
	align-items: center;
	max-width: 100%;
}
.foto2 {
	grid-area: foto2;
	max-width: 100%;
}
.foto3 {
	grid-area: foto3;
	max-width: 100%;
}
.foto4 {
	grid-area: foto4;
	max-width: 100%;
}
.video4 {
	grid-area: video4;
	max-width: 100%;
}
.foto5 {
	grid-area: foto5;
	max-width: 100%;
}

@media only screen and (max-width:400px) {
	.header {
		max-width: 400px;
	}
	.grid__portfolio {
		flex-wrap: wrap;
		width: 375px;
		max-width: 100%;
		margin: 0rem auto;
		display: grid;
		grid-gap: 0rem;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9,auto);
		grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9",
	}
}
