@import url(../misc/_variables.scss);
@import url(../misc/_normalize.scss);

/* SERVICIOS */
.container__secciones {
	width: 1500px;
    width: 100%;
    background-image: url(../../assets/images/header.svg);
    .título__sección {
		&--sm {        
		color: #971717;
		font-size: 5em;
		font-style: italic;
		margin: 0rem auto;
		padding: 0rem auto;
		text-align: center;
		width: 100%;
		}
		&--descrip {
			max-width: 95%;
			font-size: 2em;
			color: aliceblue;
			padding: 1rem 2rem;
			margin: 0rem 2rem;
			text-align: center;
			display: flex;
			justify-content: center;
        }
    }
}

.contenedor__servicios {
	width: 1500px;
	max-width: 100%;
	margin: 0rem auto;
	padding: 0rem auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6,auto);
	grid-template-areas: 
	"fotografía fotografía" 
	"foto texto" 
	"video video" 
	"texto2 video2" 
	"edicion-de-video edicion-de-video" 
	"video3 texto3";
}
.fotografía {
    @extend %titulo-servicios;
    grid-area: fotografía;
}
.video {
    @extend %titulo-servicios;
	grid-area: video;
}
.edicion-de-video {
    @extend %titulo-servicios;
    grid-area: edicion-de-video;
}
.texto {
    @extend %texto-servicios;
    grid-area: texto1;
}
.texto2 {
    @extend %texto-servicios;
    grid-area: texto2;
}
.texto3 {
    @extend %texto-servicios;
    grid-area: texto3;
}
.img-sec {
    grid-area: foto;
	padding: 0rem;
	display: flex;
	margin: auto 0rem;
	width: 100%;
}

.video1 {
	padding: 0rem;
	display: flex;
	margin: auto 0rem;
	width: 100%;
	grid-area: video1;
	max-width: 100%;
}
.video3 {	display: flex;
	margin: auto 0rem;
	padding: 0rem;
	width: 100%;
	grid-area: video3;
	max-width: 100%;
}
.foto {
	grid-area: foto;
	padding: 0;
	max-width: 100%;
}
.texto {
	grid-area: texto;
	text-align: justify;
	max-width: 100%;
}
.video2 {
	max-width: 100%;
	grid-area: video2;
	display: flex;
	align-items: flex-end;
}

@media only screen and (max-width:748px) {
	.contenedor__servicios {
		gap: 0;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9,auto);
		grid-template-areas: 
			"fotografía"
			"texto" 
			"foto" 
			"video" 
			"texto2" 
			"video2" 
			"edicion-de-video" 
			"texto3"
			"video3" ;
	}
	.fotografía {
		max-width: 100%;
	}
	.foto {
		max-width: 100%;
	}
	%titulo-servicios {
		padding: 0rem;
		margin: 0rem;
		max-width: 100%;                           
	}
	%texto-servicios {
		p {
			font-size: map-get($font, small);
			padding: 0rem;
			margin: 1rem auto;
			max-width: 100%;
		}		
	}
}