/* SOBRE MI */
.container__secciones {
    margin: 0 auto;
    padding: 0 auto;
    text-align: justify;
    width: 100%;
    background-image: url(../../assets/images/header.svg);
    .título__sección {
        &--sm {        
        color: #971717;
        font-size: 5em;
        font-style: italic;
        margin: 0rem auto;
        padding: 0rem auto;
        text-align: center;
        width: 100%;
        }
        &--descrip {
            max-width: 95%;
            font-size: 2em;
            color: aliceblue;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
            display: flex;
            justify-content: center;
            text-align: justify;
        }
    }
}
.foto__sección {
    margin: 1rem auto;
    justify-content: center;
    width: 150rem;
    border-radius: 1rem;   
    &__sobremí {
        width: 100%;
        height: 100%;
        margin: 1rem auto;
        padding: 0rem;
        border-radius: 1rem;
        &:hover {
            -webkit-transform:scale(0.99);transform:scale(0.99);
            transition:all .5s ease-in-out;
        }
    }
}