/* IMPORTS */

/* NORMALIZE */

*,
*::after
*::before
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALES */

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #000000, #050505, #090909, #0d0d0d, #111111, #141414, #171717, #191919, #1c1c1c, #1e1e1e, #212121, #242424);
    overflow-x: hidden;
}

/*HELPERS*/
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.container {
    max-width: 1500px;
    margin: 0rem auto;
    padding: 0rem auto;
}
